@import "../../app/less/base.less";

#hotel-map-container {
  background: #202;
}

#header {
  background-color: rgba(49, 59, 108, 0.9);
}
#menu {
  background-color: rgba(29, 39, 88, 1);
}

#schedule-list li.separator span {
  background-color: #779;
}