<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <script data-main="app/main" src="lib/require.js"></script>

  <link rel="stylesheet" href="./assets/css/mapbox.css" />
  <link rel="stylesheet" href="./assets/css/style.css" />
</head>
<body>

<div id="loading"></div>

<nav id="menu">
  <button class="btn-menu menu-close"></button>
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#schedule">Schedule</a></li>
    <li><a href="#guests">Guests</a></li>
    <li><a href="#local-map">Local Map</a></li>
    <li><a href="#hotel-map">Hotel Map</a></li>
    <li><a href="#about">About</a></li>
  </ul>
</nav>

<div id="pages">

  <div class="toast">This is an announcement</div>

  <header id="header" class="search-open">
    <div id="search">
      <input class="search-input" type="text" placeholder="Search events & guests" required />
    </div>
    <a href="#" class="btn-back"><span></span><label>back</label></a>
    <button class="btn-search"></button>
    <button class="btn-menu menu-toggle"></button>
    <h1></h1>
  </header>

  <!-- Pages -->
  <div id="home" class="page">
    <section class="page-content home-page-content">
      <div id="hero-photo"><img class="logo" /></div>
      <ul id="home-menu">
        <li><a href="#schedule">Schedule</a></li>
        <li><a href="#hotel-map">Hotel Map</a></li>
      </ul>
      <h4 id="todo-list-title">My Todo List</h4>
      <ul id="todo-list"></ul>
    </section>
  </div>

  <div id="about" class="page">
    <section class="page-content">
      <p>
      JordanCon is a fantasy literature convention founded in honor of the late author, Robert Jordan. Jordan was the author of the best selling The Wheel of Time series.
      </p>
      <p>
      JordanCon features six tracks of simultaneous programming, a Dealers Hall, an Art Show featuring original art by a variety of artists, and charity events benefiting the Mayo Clinic.
      </p>
      <p>
      Past guests have included Harriet McDougal, Brandon Sanderson, Mary Robinette Kowal, Sam Weber, David Wong, Jana G. Oliver, Emilie Bush, David B. Coe and Eugie Foster.
      </p>
    </section>
  </div>

  <div id="event-detail" class="page">
    <section class="page-content">
    </section>
  </div>

  <div id="schedule" class="page">
    <div class="show-all">Some or all events are past. Click to show all events, or use search.</div>
    <ul id="schedule-list" class="event-list"></ul>
    <div class="no-results hide">No results found.</div>
  </div>

  <div id="guests" class="page">
    <ul id="guests-all" class="guest-list"></ul>
  </div>

  <div id="guest-detail" class="page">
    <section class="page-content">
    </section>
  </div>

  <div id="local-map" class="page">
    <div id="local-map-container" class="map-container"></div>
  </div>

  <div id="hotel-map" class="page">
    <div id="hotel-map-container" class="map-container"></div>
  </div>

</div>

<script id="event-detail-template" type="x-jquery-tmpl">
  <h1 class="event-title">{{:title}}</h1>
  <span class="event-location">{{:location}}</span>
  <span class="event-date">{{:fdate}}</span>
  <p class="event-description">{{:description}}</p>
  <button type="button" class="btn btn-todo remove-todo {{if !inTodo}}hidden{{/if}}" data-event-id="{{:event_id}}">Remove from My Todo</button>
  <button type="button" class="btn btn-todo add-todo    {{if inTodo }}hidden{{/if}}" data-event-id="{{:event_id}}">Add to My Todo</button>
  <h4>Presenters</h4>
  <ul id="event-guest-list" class="guest-list">
    {{for guest_list tmpl="#guest-item-template" /}}
  </ul>
</script>

<script id="schedule-item-template" type="x-jquery-tmpl">
  {{if type && type == "separator"}}
  <li class="separator {{if display === false}}past{{/if}}"><span>{{:fdate}}</span></li>
  {{else}}
  <li class="event {{if display === false}}past{{/if}}">
    <a href="#event-detail/{{:event_id}}" data-event-id="{{:event_id}}">
      <span class="title">{{:title}}</span>
      <span class="time">{{:fdate}}</span>
    </a>
  </li>
  {{/if}}
</script>

<script id="guest-item-template" type="x-jquery-tmpl">
  <li class="guest-item"><a href="#guest-detail/{{:guest_id}}">{{:name}}</a></li>
</script>

<script id="guest-detail-template" type="x-jquery-tmpl">
  <h1 class="guest-name">{{:name}}</h1>
  <h3 class="guest-title">{{:title}}</h3>
  <h4>Itinerary</h4>
  <ul id="guest-event-list" class="event-list">
    {{for event_list tmpl="#schedule-item-template" /}}
  </ul>
  {{if bio}}
    <h4>About {{:name}}</h4>
    <p>{{:bio}}</p>
  {{/if}}
</script>

<script id="map-popup-template" type="x-jquery-tmpl">
  <div class="map-popup">
    <h2 class="place-name">{{:name}}</h2>
    <h3 class="place-subtitle {{:icon}}">{{:subtitle}}</h3>
    <address>{{:address}}<br />{{:city}}, {{:state}} {{:zip}}</address><br />
    <span class="phone">{{:phone}}</span>
  </div>
</script>

</body>
</html>
